// Colores primarios y secundarios

$color-primary-300: #ffd3d7;
$color-primary-400: #ffa7ae;
$color-primary-500: #ff8993;
$color-primary-600: #ff5866;
$color-primary-700: #ff2739;
$color-secondary-300: #ffe0c0;
$color-secondary-400: #fed1a0;
$color-secondary-500: #fec180;
$color-secondary-600: #feaa51;
$color-secondary-700: #fd9321;

// Tonos oscuros
$color-dark-400: #544344;
$color-dark-500: #372c2d;
$color-dark-600: #221b1c;

// Tonos grises y blanco
$color-grey-200: #f1edee;
$color-grey-300: #e2dbdc;
$color-grey-400: #d1c6c7;
$color-grey-500: #a48d8f;
$color-grey-600: #705a5c;
$color-white: #fafafa;
